.container-texteditor {
  width: 100%;
  max-width: 600px;
}

.detail-lek{
    display: none;
}

.gird-container{
    display:grid;
    grid-template-columns: 2fr 5fr ;
}

.side , .detail {
    align-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

@media only screen and (max-width:978px) {
    .gird-container{
        display:grid;
        grid-template-columns: 1fr;
    }

    .detail-lek{
        display: block;
    }
    

    .side{
        display: none;
    }

    .detail{
        display: none;
    }
}

