b {
  font-size: 18px;
}

.container-btn-post {
  width: 100%;
  justify-content: end;
  display: grid;
  margin-top: 15px;
  grid-template-columns: auto auto;
  padding-bottom: 10px;
}

.btn_addpost {
  margin-right: 10px;
}

.btn_cancel {
  padding: 0px;
}

.container_post {
  background-color: white;
}

@media only screen and (max-width: 1260px) {
  .container-btn-post {
    padding-bottom: 45px;
  }

  .container_images {
    display: grid;
    grid-template-columns: auto auto auto auto auto  ;
    justify-content: center;
}
}

@media only screen and (max-width: 988px) {
  .container-btn-post {
    padding-bottom: 55px;
  }

  .container_images {
    display: grid;
    grid-template-columns: auto auto auto auto  ;
    justify-content: center;
}
}

@media only screen and (max-width: 750px) {
    .container-btn-post {
      padding-bottom: 55px;
    }
  
    .container_images {
      display: grid;
      grid-template-columns: auto auto auto  ;
      justify-content: center;
  }
  }

@media only screen and (max-width: 455px) {
    .container_images {
        display: grid;
        grid-template-columns: auto auto  ;
        justify-content: center;
    }
}


@media only screen and (max-width: 319px) {
  /* .container-btn-post{ 
        padding-bottom: 55px;
    
  } */
  .container_images {
      display: grid;
      grid-template-columns: auto  ;
      justify-content: center;
  }
}
