.container-register {
  height: 100%;
  align-content: center;
}

.container-card-register {
  /* Start Set Position Center on Page */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  /* End Set Position Center on Page */

  height: 400px;
  width: 280px;
  background-color: rgba(0, 127, 253, 0.5) !important;
}

.card-header h3 {
  color: white;
}
