body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(216, 216, 216, 0.836);
  width: 100%;
  height: 100%;
}


/* 
@media only screen and (max-width: 960px) {
  .grid-postlist {
    grid-template-columns: auto auto;
    justify-content: center;
  }
} */
